html {
	font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	background-color: #dfe0d9;
}
html,
body {
	height: 100vh;
	position: fixed;
	overflow: hidden;
	width: 100%;
}
#app {
	background-color: #dfe0d9;
	height: 100vh;
	max-width: 768px;
	margin: 0 auto;
	display: block;
	background: #dee0d9;
	position: relative;
	overflow: hidden;
}
.big-g {
	opacity: 0;
	position: fixed;
	bottom: 10px;
	pointer-events: none;
	transform: translate3d(-40%, 45%, 0);
	transition: 0.8s cubic-bezier(0.49, -0.04, 0.66, 1.01);
	&.slide {
		opacity: 1;
		transform: translate3d(0%, 9%, 0);
	}
}
.ronaldo {
	width: 334px;
	height: 696.4px;
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0.8;
	mix-blend-mode: multiply;
	transform: translate3d(40%, -45%, 0);
	transition: 0.8s cubic-bezier(0.49, -0.04, 0.66, 1.01);
	pointer-events: none;
	&.slide {
		transform: translate3d(0%, 11%, 0);
	}
}
.play-btn {
	width: 100%;
	height: 89px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	bottom: 0;
	max-width: 768px;
	right: 0;
	margin: auto;
	left: 0;
	transition: 0.3s ease-in-out;
	strong {
		font-size: 14px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -0.5px;
		color: #ffffff;
	}
	span {
		font-size: 14px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -0.5px;
		text-align: right;
		color: #ffffff;
	}
	.arrow-right {
		width: 22px;
		height: 12px;
	}
}
