@font-face {
	font-family: 'Akzidenz-Grotesk';
	src: url('~static/fonts/akzidenzgrotesk-regular-webfont.ttf');
}
@font-face {
	font-family: 'Akzidenz-Grotesk-Bold';
	src: url('~static/fonts/akzidenzgrotesk-bold-webfont.ttf');
}
@font-face {
	font-family: 'Akzidenz-Grotesk-Light';
	src: url('~static/fonts/akzidenzgrotesk-light-webfont.ttf');
}
@font-face {
	font-family: 'Akzidenz-Grotesk-Medium';
	src: url('~static/fonts/akzidenzgrotesk-medium-webfont.ttf');
}

body {
	font-family: 'Akzidenz-Grotesk';
}
.bold {
	font-family: 'Akzidenz-Grotesk-Bold';
}
.light {
	font-family: 'Akzidenz-Grotesk-Light';
}
.medium {
	font-family: 'Akzidenz-Grotesk-Medium';
}
