@import 'tag-as-global-example';
.page-enter-active {
	animation: bounce-in 0.8s;
}
.page-leave-active {
	animation: bounce-out 0.5s;
}
@keyframes bounce-in {
	0% {
		transform: scale(0.9);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes bounce-out {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(0.9);
		opacity: 0;
	}
}
