<template>
	<div id="particle-container">
		<div v-for="particle in 100" :key="particle" class="particle"></div>
	</div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
#particle-container {
	position: fixed;
	height: 100vh;
	width: 100%;
	top: 0;
	pointer-events: none;
}
.particle {
	position: absolute;
	border-radius: 50%;
}

@for $i from 1 through 100 {
	@keyframes particle-animation-#{$i} {
		0% {
			opacity: 0;
		}
		30% {
			opacity: random(100) / 100;
		}
		100% {
			opacity: 0;
			transform: translate3d(
				(random(100) * 1vw),
				(random(100) * 1vh),
				(random(100) * 1px)
			);
		}
	}

	.particle:nth-child(#{$i}) {
		animation: particle-animation-#{$i}
			25s
			infinite
			cubic-bezier(0.42, 0, 0.51, 1.01);
		$size: random(7) + 3 + px;
		height: $size;
		width: $size;
		animation-delay: -$i * 0.2s;
		transform: translate3d(
			(random(100) * 1vw),
			(random(100) * 1vh),
			(random(100) * 1px)
		);
		background: #cfd1c7;
	}
}
</style>
