<template>
	<div class="wrap">
		<div v-for="config in configs" :key="config.id">
			<div class="tab__header">
				<a
					href="#"
					class="tab__link p-3 block bg-blue-dark hover:bg-blue-darker no-underline border-t-2 border-gray-200 flex justify-between"
					@click.prevent="config.active = !config.active"
				>
					<strong>{{ config.title }}</strong>
					<p v-show="!config.active">
						{{
							config.title === 'Type'
								? gtype
								: config.title === 'Gamemode'
								? mode
								: status
						}}
					</p>
					<div
						v-show="config.active"
						v-if="config.title === 'Type'"
						class="tab__content"
					>
						<div v-for="option in config.options" :key="option">
							<div @click="typeSelected(option)">
								{{ option }}
							</div>
						</div>
					</div>
					<div
						v-show="config.active"
						v-else-if="config.title === 'Gamemode'"
						class="tab__content"
					>
						<div v-for="option in config.options" :key="option">
							<div @click="modeSelected(option)">
								{{ option }}
							</div>
						</div>
					</div>
					<div v-show="config.active" v-else class="tab__content">
						<div v-for="option in config.options" :key="option">
							<div @click="statusSelected(option)">
								{{ option }}
							</div>
						</div>
					</div>
					<img
						src="~assets/images/caret-down.svg"
						:class="
							config.active
								? ' gf-caret-down open'
								: 'gf-caret-down'
						"
					/>
				</a>
			</div>
		</div>
	</div>
</template>

<script>
import { mapState } from 'vuex'
export default {
	data() {
		return {
			configs: [
				{
					id: 1,
					title: 'Type',
					options: ['Competitive', 'Casual'],
					active: false
				},
				{
					id: 2,
					title: 'Gamemode',
					options: [
						'Squad Battles',
						'Ultimate Team',
						'Kick Off',
						'Skill Games',
						'Practice',
						'Arena'
					],
					active: false
				},
				{
					id: 3,
					title: 'Lobby Status',
					options: ['Invite Only', 'Open'],
					active: false
				}
			]
		}
	},
	computed: mapState(['gtype', 'mode', 'status']),
	fetch({ store }) {
		store.commit('selectType')
		store.commit('selectMode')
		store.commit('selectStatus')
	},
	methods: {
		typeSelected(option) {
			this.$store.commit('selectType', option)
		},
		modeSelected(option) {
			this.$store.commit('selectMode', option)
		},
		statusSelected(option) {
			this.$store.commit('selectStatus', option)
		}
	}
}
</script>

<style lang="scss" scoped>
strong {
	min-width: 92px;
}

.tab__link {
	align-items: baseline;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
p,
.tab__content {
	min-width: 100px;
}
.gf-caret-down {
	transition: 0.3s ease-in-out;
	width: 12px;
	&.open {
		transform: rotate(180deg);
	}
}
@media (max-height: 668px) {
	.tab__link {
		padding: 2px 1rem;
	}
}
</style>
