<template>
	<nav>
		<nuxt-link to="/">
			<div class="logo-wrap">
				<img
					src="~assets/images/gfinity-logo-neg.svg"
					alt="gfinity-logo"
					class="gfinity-logo"
				/>
			</div>
		</nuxt-link>
		<div class="menu">
			<strong>FIFA 19</strong>
			<img src="~assets/images/burger.svg" class="hamburger" />
		</div>
	</nav>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.logo-wrap {
	width: 105px;
	height: 105px;
	background-color: #1b1b1b;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
nav {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.menu {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 150px;
	}
	strong {
		font-size: 14px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -0.5px;
		color: #1b1b1b;
	}
	.hamburger {
		width: 20px;
		height: 12px;
		cursor: pointer;
	}
}
.gfinity-logo {
	width: 73px;
	height: 14px;
	object-fit: contain;
}
@media (max-height: 668px) {
	.logo-wrap {
		height: 35px;
	}
}
</style>
