<template>
	<div class="players">
		<div class="avatar-wrap">
			<div class="img-wrap">
				<img
					src="~assets/images/avatar-1/gf-avatar-01.jpg"
					srcset="
						~assets/images/avatar-1/gf-avatar-01@2x.jpg 2x,
						~assets/images/avatar-1/gf-avatar-01@3x.jpg 3x
					"
					class="avatar"
				/>
			</div>
			<p class="grey">Team Leader /</p>
			<strong>steveroesler</strong>
			<div class="status">
				<span class="text">Ready</span>
				<span class="score">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="14"
						height="16"
						viewBox="0 0 14 16"
						class="g"
					>
						<path
							fill="#e94235"
							fill-rule="nonzero"
							d="M14 6.877v7.934h-2.924l-.178-1.419c-1.057 1.22-2.594 1.87-4.17 1.763a6.97 6.97 0 0 1-2.542-.458 6.527 6.527 0 0 1-2.136-1.35 6.191 6.191 0 0 1-1.492-2.309 9.134 9.134 0 0 1-.55-3.262 7.99 7.99 0 0 1 1.966-5.625C3.364.687 5.287-.093 7.262.01a6.92 6.92 0 0 1 4.373 1.384A5.961 5.961 0 0 1 13.83 5.35H9.517c-.23-1.127-1.227-1.903-2.331-1.816a2.152 2.152 0 0 0-1.975 1.129 6.159 6.159 0 0 0-.66 3.094c0 2.604.968 3.906 2.906 3.906a2.574 2.574 0 0 0 1.441-.476c.42-.267.725-.694.847-1.19H7.78V6.877H14z"
						/>
					</svg>
					<span class="num">74</span></span
				>
			</div>
		</div>
		<div class="avatar-wrap">
			<div class="img-wrap">
				<img
					v-if="typeof invitedPlayer.id !== 'undefined'"
					:src="getSrc(invitedPlayer.id)"
					class="avatar"
				/>
			</div>
			<p class="grey">Team Player /</p>
			<nuxt-link to="/invite">
				<strong
					>Invite Player
					<img src="~assets/images/caret-right.svg" class="caret"
				/></strong>
			</nuxt-link>
		</div>
	</div>
</template>

<script>
import { mapState } from 'vuex'
export default {
	data() {
		return {
			time: 0
		}
	},
	computed: mapState(['invitedPlayer']),
	methods: {
		getSrc(id) {
			return require('../assets/images/avatar-' +
				id +
				'/gf-avatar-0' +
				id +
				'.jpg')
		}
	}
}
</script>

<style lang="scss" scoped>
.players {
	display: flex;
	.avatar-wrap {
		margin-right: 15px;
	}
	.img-wrap {
		width: 140px;
		height: 187px;
		border-radius: 6px;
		border: solid 1px #cfd1c7;
		display: flex;
		justify-content: center;
		overflow: hidden;
		margin-bottom: 10px;
		img {
			max-width: none;
		}
	}
	p.grey {
		font-size: 12px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #6b6b65;
	}
	strong {
		display: flex;
		align-items: center;
		.caret {
			width: 8px;
			height: 12px;
			margin-left: 10px;
		}
	}
	.status {
		display: flex;
		margin-top: 10px;
		height: 18px;
		.text {
			border: solid 1px #1b1b1b;
			font-size: 10px;
			font-weight: bold;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: 1.5px;
			color: #1b1b1b;
			padding: 2px 5px;
			display: flex;
			justify-content: center;
			align-items: center;
			text-transform: uppercase;
		}
		.score {
			display: flex;
			padding-left: 10px;
			align-items: center;
			svg {
				width: 12px;
				height: 12px;
			}
			.num {
				font-size: 11px;
				font-weight: bold;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: -0.5px;
				color: #e94235;
				margin-top: -3px;
			}
		}
	}
}
</style>
