<template>
	<div id="app">
		<navi />
		<nuxt />
		<img
			src="~/assets/images/ronaldo/fifa-19-ronaldo-fg-lg.jpg"
			srcset="
				~/assets/images/ronaldo/fifa-19-ronaldo-fg-lg@2x.jpg 2x,
				~/assets/images/ronaldo/fifa-19-ronaldo-fg-lg@3x.jpg 3x
			"
			:class="[slide ? 'ronaldo slide' : 'ronaldo']"
		/>
		<bg />
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="375"
			height="627"
			viewBox="0 0 375 627"
			:class="[slide ? 'big-g slide' : 'big-g']"
		>
			<path
				fill="none"
				fill-rule="nonzero"
				stroke="#000"
				d="M655 258.13v610.537H418.371L403.968 759.45c-85.572 93.909-209.906 143.898-337.453 135.675-70.174.556-139.874-11.393-205.765-35.276-63.797-23.34-122.473-58.575-172.842-103.791-53.394-49.383-94.681-110.173-120.714-177.734-30.76-80.13-45.887-165.299-44.583-251-7.237-159.452 50.022-315.192 159.125-432.802C-205.82-218.164-50.156-278.12 109.725-270.324c126.608-3.993 251.01 33.444 353.914 106.504 98.134 73.846 162.144 183.6 177.643 304.59H292.17C273.536 54.055 192.931-5.665 103.552 1.027 38.072-1.8-23.549 31.68-56.258 87.858c-39.24 73.137-57.726 155.418-53.499 238.11 0 200.346 78.42 300.52 235.257 300.52 41.643-.729 82.166-13.46 116.6-36.633 34.06-20.516 58.67-53.377 68.588-91.58H151.564V258.13H655z"
			/>
		</svg>
	</div>
</template>

<script>
import navi from '~/components/navi'
import bg from '~/components/bg'
export default {
	components: {
		navi,
		bg
	},
	data() {
		return {
			slide: false
		}
	},
	watch: {
		$route() {
			if (this.$route.name !== 'index') {
				this.slide = true
			} else {
				this.slide = false
			}
		}
	},
	mounted() {
		setInterval(() => {
			this.decrementQueue()
		}, 3000)
		setInterval(() => {
			this.incrementQueue()
		}, 7000)
	},
	methods: {
		decrementQueue() {
			this.$store.commit('decrementQueue')
		},
		incrementQueue() {
			this.$store.commit('incrementQueue')
		}
	}
}
</script>
