<template>
	<div class="lobby-wrap">
		<div class="lobby">
			<nuxt-link to="/" class="back"
				><img
					src="~assets/images/arrow-left.svg"
					class="hamburger"
				/>Matchmaking Lobby</nuxt-link
			>
			<h2>
				steveroesler’s lobby<img
					src="~assets/images/lock.svg"
					class="lock"
				/>
			</h2>
			<p class="tag"><span>FIFA 19</span></p>
			<players />
			<div class="config">
				<configs />
			</div>
			<nuxt-link to="/queue" class="play-btn">
				<strong>Play Now</strong>
				<span>{{ queueLength }} in Queue</span>
				<img
					src="~assets/images/arrow-right.svg"
					class="gf-arrow-right"
				/>
			</nuxt-link>
		</div>
	</div>
</template>

<script>
import { mapState } from 'vuex'
import configs from '~/components/configs'
import players from '~/components/players'

export default {
	components: {
		configs,
		players
	},
	computed: mapState(['queueLength'])
}
</script>

<style lang="scss" scoped>
a.back {
	font-size: 16px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.5px;
	color: #1b1b1b;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 15px 0;
	img {
		padding-right: 20px;
	}
}
.lobby-wrap {
	height: calc(100vh - 105px);
}
.lobby {
	position: relative;
	padding: 0 20px;
}

h2 {
	font-size: 36px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.22;
	letter-spacing: -2px;
	color: #1b1b1b;
	img {
		display: inline-block;
		padding-left: 20px;
	}
}

.tag {
	width: 58px;
	height: 14px;
	border-radius: 0 100px 100px 0;
	background-color: #1b1b1b;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 0;
	span {
		width: 48px;
		height: 12px;
		font-size: 10px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: 1.5px;
		color: #ffffff;
	}
}
.play-btn {
	background-color: #293894;
}

.config {
	position: fixed;
	bottom: 89px;
	width: 100%;
	background: #dfe0da;
	max-width: 768px;
	right: 0;
	margin: auto;
	left: 0;
}

@media (max-height: 668px) {
	h2 {
		font-size: 27px;
		display: inline-block;
		margin-bottom: 10px;
	}
	.tag {
		display: none;
	}
	a.back {
		padding-bottom: 0;
	}
	.lobby {
		padding: 0 15px;
	}
}
</style>
