<template>
	<div class="rectangle text-white">
		<div class="black-pane">
			<nuxt-link to="/" class="back">
				<img src="~assets/images/arrow-left-white.svg" class="hamburger"
			/></nuxt-link>
			<div class="px-5 py-8">
				<p class="match mb-6">Matchmaking Lobby</p>
				<h1 class="mb-6 bold">A match has been found!</h1>
				<p class="mb-8">
					We’ve found a compatible opponent for you to play
					{{ mode }} with in FIFA 19
				</p>
				<div class="players flex items-center mb-10">
					<p class="small mr-5">Lobby</p>
					<div
						class="img-wrap mr-5 rounded-full flex items-center justify-center"
					>
						<img
							src="~assets/images/avatar-1/gf-avatar-01.jpg"
							srcset="
								~assets/images/avatar-1/gf-avatar-01@2x.jpg 2x,
								~assets/images/avatar-1/gf-avatar-01@3x.jpg 3x
							"
							class="avatar rounded-full"
						/>
					</div>
					<div
						v-if="typeof invitedPlayer.id !== 'undefined'"
						class="img-wrap rounded-full flex items-center justify-center"
					>
						<img
							:src="getSrc(invitedPlayer.id)"
							class="avatar rounded-full"
						/>
					</div>
				</div>
				<div class="queue-num flex items-center">
					<span class="line">_</span>
					<p class="small">
						By tapping accept, you agree to play a match that may
						last for up to 30 minutes.
					</p>
				</div>
			</div>
		</div>
		<nuxt-link to="/" class="flex items-center justify-between w-full px-5">
			<div class="play-btn">
				<strong class="bold">Accept</strong>
				<div class="timer flex justify-between w-20">
					<span>-{{ minutes }}:{{ seconds }} </span>
					<img
						src="~assets/images/arrow-right.svg"
						class="gf-arrow-right"
					/>
				</div>
			</div>
		</nuxt-link>
	</div>
</template>

<script>
import { mapState } from 'vuex'
export default {
	data() {
		return {
			time: 90,
			seconds: '30',
			minutes: 1,
			isRunning: false,
			interval: null
		}
	},
	computed: mapState(['mode', 'invitedPlayer']),
	mounted() {
		this.toggleTimer()
	},
	methods: {
		getSrc(id) {
			return require('../assets/images/avatar-' +
				id +
				'/gf-avatar-0' +
				id +
				'.jpg')
		},
		toggleTimer() {
			if (this.isRunning) {
				clearInterval(this.interval)
			} else {
				this.interval = setInterval(this.decrementTime, 1000)
			}
			this.isRunning = !this.isRunning
		},
		decrementTime() {
			this.time = parseInt(this.time) - 1
			this.minutes = Math.floor(this.time / 60)
			this.seconds = this.time - this.minutes * 60
			if (this.seconds < 10) {
				this.seconds = '0' + this.seconds.toString()
			}
			if (this.time > this.randomWait) {
				this.searching = false
				this.toggleTimer()
			}
		}
	}
}
</script>

<style lang="scss" scoped>
.rectangle {
	width: 100%;
	height: calc(100vh - 105px);
	background-color: #dfe0d9;
}
.black-pane {
	width: 90%;
	min-height: 80vh;
	height: 657px;
	background-color: #222;
	h1,
	p {
		z-index: 2;
		position: relative;
	}
}
.back {
	width: 105px;
	height: 105px;
	background-color: #1b1b1b;
	display: flex;
	justify-content: center;
	align-items: center;
}
p.match {
	font-size: 16px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.5px;
	color: #ffffff;
}
p {
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.22;
	letter-spacing: -0.75px;
	color: #ffffff;
	&.small {
		font-size: 12px;
	}
}
h1 {
	font-size: 48px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.92;
	letter-spacing: -3px;
}
.img-wrap {
	width: 56px;
	height: 56px;
	border: solid 2px #ffffff;
	img {
		width: 44px;
	}
}
.line {
	font-weight: 700;
	font-size: 22px;
	margin-right: 30px;
	margin-top: -18px;
}
.play-btn {
	left: initial;
	right: 0;
	width: 294px;
	bottom: 20px;
	background-color: #293894;
}
@media (max-height: 668px) {
	a.back {
		height: 35px;
	}
	.py-8 {
		padding-top: 10px;
	}
	h1 {
		font-size: 28px;
	}
}
</style>
