<template>
	<div class="rectangle text-white">
		<div class="blue-pane">
			<nuxt-link to="/" class="back">
				<img src="~assets/images/arrow-left-white.svg" class="hamburger"
			/></nuxt-link>
			<div class="px-5 py-8">
				<p class="match mb-6">Matchmaking Lobby</p>
				<h1 class="mb-6 bold">Searching for compatible opponents</h1>
				<p class="mb-8">
					We’re searching our database of players to pair you with an
					opponent of similar skill
				</p>
				<div class="players flex items-center">
					<p class="small mr-5">Lobby</p>
					<div
						class="img-wrap mr-5 rounded-full flex items-center justify-center"
					>
						<img
							src="~assets/images/avatar-1/gf-avatar-01.jpg"
							srcset="
								~assets/images/avatar-1/gf-avatar-01@2x.jpg 2x,
								~assets/images/avatar-1/gf-avatar-01@3x.jpg 3x
							"
							class="avatar rounded-full"
						/>
					</div>
					<div
						v-if="typeof invitedPlayer.id !== 'undefined'"
						class="img-wrap rounded-full flex items-center justify-center"
					>
						<img
							:src="getSrc(invitedPlayer.id)"
							class="avatar rounded-full"
						/>
					</div>
				</div>
				<div class="queue-num block">
					<span class="line inline-block">_</span>
					<p class="small inline-block">
						<strong>{{ queueLength }}</strong> in Queue
					</p>
				</div>
			</div>
		</div>
		<nuxt-link
			v-if="searching"
			to="/"
			class="flex items-center justify-between w-full px-5"
		>
			<div class="searching play-btn">
				<strong class="bold">Searching...</strong>
				<div class="timer flex justify-between w-20">
					<span>{{ minutes }}:{{ seconds }} </span>
					<img src="~assets/images/close-white.svg" class="close" />
				</div>
			</div>
		</nuxt-link>
		<nuxt-link
			v-else
			to="/match"
			class="flex items-center justify-between w-full px-5"
		>
			<div class="found play-btn">
				<strong class="bold">A match has been found!</strong>
				<img
					src="~assets/images/arrow-right.svg"
					class="gf-arrow-right"
				/>
			</div>
		</nuxt-link>
	</div>
</template>

<script>
import { mapState } from 'vuex'
export default {
	data() {
		return {
			searching: true,
			time: 0,
			seconds: '00',
			minutes: 0,
			isRunning: false,
			interval: null,
			randomWait: Math.floor(Math.random() * 30) + 1
		}
	},
	computed: mapState(['queueLength', 'invitedPlayer']),
	mounted() {
		this.toggleTimer()
	},
	methods: {
		getSrc(id) {
			return require('../assets/images/avatar-' +
				id +
				'/gf-avatar-0' +
				id +
				'.jpg')
		},
		toggleTimer() {
			if (this.isRunning) {
				clearInterval(this.interval)
			} else {
				this.interval = setInterval(this.incrementTime, 1000)
			}
			this.isRunning = !this.isRunning
		},
		incrementTime() {
			this.time = parseInt(this.time) + 1
			this.minutes = Math.floor(this.time / 60)
			this.seconds = this.time - this.minutes * 60
			if (this.seconds < 10) {
				this.seconds = '0' + this.seconds.toString()
			}
			if (this.time > this.randomWait) {
				this.searching = false
				this.toggleTimer()
			}
		}
	}
}
</script>

<style lang="scss" scoped>
.rectangle {
	width: 100%;
	height: calc(100vh - 105px);
	background-color: #dfe0d9;
}
.blue-pane {
	width: 90%;
	height: 80vh;
	max-height: 660px;
	background-color: #293894;
	h1,
	p {
		z-index: 2;
		position: relative;
	}
}
.back {
	width: 105px;
	height: 105px;
	background-color: #1b1b1b;
	display: flex;
	justify-content: center;
	align-items: center;
}
p.match {
	font-size: 16px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.5px;
	color: #ffffff;
}
p {
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.22;
	letter-spacing: -0.75px;
	color: #ffffff;
	&.small {
		font-size: 12px;
	}
}
h1 {
	font-size: 48px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.92;
	letter-spacing: -3px;
}
.img-wrap {
	width: 56px;
	height: 56px;
	border: solid 2px #ffffff;
	img {
		width: 44px;
	}
}
.line {
	font-weight: 700;
	font-size: 22px;
	vertical-align: text-bottom;
	margin-right: 30px;
}
.play-btn {
	left: initial;
	right: 0;
	background: #1b1b1b;
	width: 294px;
	bottom: 20px;
}
@media (max-height: 668px) {
	a.back {
		height: 35px;
	}
	.py-8 {
		padding-top: 10px;
	}
	h1 {
		font-size: 28px;
	}
}
</style>
